@import '../../utils/GlobalStyles.scss';

.education-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // Aligns items to the start (top) of the container
    width: 100%; // Full width
    height: 100%; // Full height to occupy the card
}

.education-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%; // Full width of the container
}

.education-item {
    padding-top: 4px;
    padding-bottom: 10px;
    margin: 0px 10px;
    border-bottom: 1px solid $border-color;
    transition: background-color 0.2s;


    .education-title {
        font-size: $standard-font-size;
        font-weight: $standard-font-weight;
        color: $important-font-colour;
    }

    .education-grad,
    .education-location {
        color: $standard-font-colour;
        font-size: $standard-font-size; // Smaller font size for the short description
        padding-top: 4px; // Space between title and short description 
    }
}