@import "../../utils/GlobalStyles.scss";

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: $secondary-background-color;
  overflow: hidden; // Prevents scrollbars when button moves around
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.enter-btn {
  background-color: $primary-background-color;
  color: $secondary-text-color;
  border: $line-width solid $border-color;

  border-radius: 30px; // Slightly more rounded
  padding: 15px 30px; // Larger button
  font-size: 0.8rem; // Larger text
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0.6;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
    opacity: 1;
    text-decoration: none;
  }

  position: fixed; // Allows floating effect
}

.enter-btn {
  background-color: $secondary-background-color; // Background color similar to connect-button
  color: $primary-text-color; // Text color for contrast
  border: $line-width solid $border-color; // Consistent border style
  border-radius: 30px; // Rounded, but not too much
  padding: 15px 30px; // Comfortable padding
  font-size: 0.9rem; // Standard font size for consistency
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s; // Smooth transitions
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Subtle shadow
  opacity: 0.6; // Slightly transparent for a sophisticated look
  position: fixed; // To maintain position relative to viewport

  &:hover {
    background-color: $tertiary-background-color; // Different background on hover for visual feedback
    transform: translateY(-6px); // Slight raise effect on hover
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); // More prominent shadow on hover
    opacity: 1; // Full opacity on hover
    text-decoration: none; // No text decoration on hover
  }

  position: fixed; // Allows floating effect

}




