@import '../../utils/GlobalStyles.scss';

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around; // Evenly spaces the child elements
    position: absolute;
}

.connect-button {
    background-color: $secondary-background-color; // Same as card background
    color: $primary-text-color; // Primary text color for contrast
    border: $line-width solid $border-color; // Border similar to cards
    border-radius: 14px;
    padding: 3px 16px;
    margin: 3%;
    font-size: $standard-font-size;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0.6;
    text-wrap: nowrap;

    &:hover {
        background-color: $tertiary-background-color;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12); // Enhanced shadow on hover
        opacity: 1; // Full opacity on hover
        text-decoration: none;
    }
}
