.navitem {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    height: 100%;
    width: 100px;
    position: relative;
}

.navitem::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 0;
    border-bottom: 2px solid transparent;
    transition: height 0.3s, border-color 0.3s; //transition to highlight hovered page with underline. --> .navitem:hover::before
    pointer-events: none;
}

.navitem:hover::before {
    height: 100%;
    border-color: #ffffff;
}

.navbar {
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    transition: border-color 0.3s; //transition to show border.
}

.navbar:hover {
    border-color: #ffffff;
}

.toolbar {
    width: inherit;
    display: flex;
    justify-content: center;
    transition: width 0.3s;
}

// .toolbar:hover {
//     width: 100vw;
// }

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack items vertically */
        padding: 20px 10px;
    }

    .navitem {
        width: 100;
    }

    .toolbar {
        flex-direction: column;
    }

    .navitem::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 60%;
        height: 0;
        border-bottom: 2px solid transparent;
        transition: height 0.3s, border-color 0.3s; //transition to highlight hovered page with underline. --> .navitem:hover::before
        pointer-events: none;
    }

    .html:hover {
        border-color: #ffffff;
    }

    .navitem {
        width: 100%; /* Full width for mobile */
    }
}