html {
  background: linear-gradient(0deg, rgba(1, 0, 2, 0.6), rgba(1, 18, 59, 0.6)), url('../public/warren-umoh-aQVnWyP3AYA-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  position: relative;
  background-position: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black overlay */
  z-index: -1;
}

.app-container {
  position: relative;
  height: 100vh;
  display: flex;
}


.main {
  margin: 20px;
  display: flex;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 50px;
  width: 100%;
}